@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  accent-color: #3aa57e;
  //scrollbar-gutter: stable;
}

/* 다크 모드 지원 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #f8f8f8;
}

.title1 {
  @apply text-4xl font-semibold leading-10;
}

.title2 {
  @apply text-2xl font-semibold leading-8;
}

.title3 {
  @apply text-xl font-semibold leading-7;
}

.body1 {
  @apply text-lg font-medium leading-9;
}

.body2 {
  @apply text-base font-normal leading-9;
}

.subtitle {
  @apply text-sm font-normal leading-7;
}

.caption {
  @apply text-xs font-normal leading-6;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}